@import url(./__logo/header__logo.css);
@import url(./__links/header__links.css);
@import url(./__list-item/header__list-item.css);
@import url(./__link/header__link.css);
@import url(./__link/_active/header__link_active.css);

.header {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 28px 48px 56px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 28px 48px 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 28px 24px 48px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 16px 16px 48px;
  }
}
