.lead__title {
  max-width: 100%;
  min-height: 15.6%;
  margin: 0 13.4% 32px;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    margin: 0 11.2% 32px;
  }
}

@media screen and (max-width: 767px) {
  .lead__title {
    margin: 0 3.1% 32px;
    font-size: 64px;
  }
}

@media screen and (max-width: 640px) {
  .lead__title {
    font-size: 54px;
  }
}

@media screen and (max-width: 425px) {
  .lead__title {
    font-size: 42px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    min-height: 27.5%;
    font-size: 40px;
    line-height: 1.1;
    margin: 0 5% 16px;
  }
}
